<template>
    <div class="panel-body">
        <form @submit.prevent="addPost">
            <vue-form-generator :schema="schema" :model="model" :options="formOptions"></vue-form-generator>
            <div class="form-group">
                <button type="submit"   class="btn btn-primary">Oluştur</button>

            </div>

        </form>

    </div>
</template>

<script>
    import Vue from 'vue'
    import VueFormGenerator from 'vue-form-generator'
    import 'vue-form-generator/dist/vfg.css'

    Vue.use(VueFormGenerator)

    export default {
        data () {
            return {
                model: {

                },
                schema: {
                    fields: [
                        {
                            type: 'input',
                            inputType: 'text',
                            label: 'Grup Adı',
                            model: 'name',
                            featured: true,
                            required: true
                        },
                        {
                            type: "switch",
                            label: 'Grup Aktif Mi?',
                            model: 'active',
                            textOn: "Evet",
                            textOff: "Hayır",
                            valueOn: 1,
                            valueOff: 0,
                            required: true

                        }

                    ]
                },
                formOptions: {
                    validateAfterLoad: true,
                    validateAfterChanged: true,
                    validateAsync: true
                }
            }
        },
        methods: {
            addPost(){
                let uri = '/api/creategroup';
                this.axios.post(uri, this.model).then((response) => {
                    this.$emit("reload")
                    this.model = [];

                    $('#exampleModalCenter2').modal('toggle'); //or  $('#IDModal').modal('hide');

                    this.$router.push({name: 'home'});
                });
            }

        }
    }
</script>