<template>
    <div class="panel-body">
        <form @submit.prevent="addPost">
            <vue-form-generator :schema="schema" :model="model" :options="formOptions"></vue-form-generator>
            <div class="form-group">
                <button type="submit"class="btn btn-primary">Oluştur</button>
            </div>

        </form>

    </div>
</template>

<script>
    import Vue from 'vue'
    import VueFormGenerator from 'vue-form-generator'
    import 'vue-form-generator/dist/vfg.css'

    Vue.use(VueFormGenerator)

    export default {

        mounted () {
            let app = this;
            console.log(this.dropdown)
/*
            var list=[];

            this.dropdown.map(function(value, key) {
               list.push({"id": value.id, "name": value.name})
            });

            data.values=list;
*/
            axios.get('/api/grouppostsall')
                .then(function (resp) {
                    var data = app.schema.fields.find(x=>x.model==='group_id');

                    data.values =resp.data;
                });


        },

        data () {
            return {


                model: {

                },
                schema: {
                    fields: [
                        {
                            type: 'input',
                            inputType: 'text',
                            label: 'İsim',
                            model: 'name',
                            featured: true,
                            required: true,
                            min:3
                        },
                        {
                            type: 'input',
                            inputType: 'number',
                            label: 'Telefon:',
                            model: 'phone',
                            min: 10,
                            max: 10,
                            hint: "Telefonunuzu başına 0 eklemeden 10 haneli olarak giriniz",
                            validator: VueFormGenerator.validators.number
                        },
                        {
                            type: 'input',
                            inputType: 'email',
                            label: 'E-mail:',
                            model: 'email',
                            required: true,
                            validator: VueFormGenerator.validators.email
                        },
                        {
                            type: 'input',
                            inputType: 'number',
                            label: 'Fax:',
                            model: 'fax',
                            min: 10,
                            hint: "Fax numaranızı başına 0 eklemeden 10 haneli olarak giriniz",
                            validator: VueFormGenerator.validators.number
                        },
                        {
                            type: 'switch',
                            label: 'Sms Listesine Dahil Mi?',
                            model: 'sms_list',
                            textOn: "Evet",
                            textOff: "Hayır",
                            valueOn: 1,
                            valueOff: 0,
                            required: true
                        },
                        {
                            type: 'switch',
                            label: 'Fax Listesine Dahil Mi?',
                            model: 'fax_list',
                            textOn: "Evet",
                            textOff: "Hayır",
                            valueOn: 1,
                            valueOff: 0,
                            required: true
                        },
                        {
                            type: 'switch',
                            label: 'E-Mail Listesine Dahil Mi?',
                            model: 'email_list',
                            textOn: "Evet",
                            textOff: "Hayır",
                            valueOn: 1,
                            valueOff: 0,
                            required: true

                        },
                        {
                            type: "switch",
                            label: 'Hesap Aktif Mi?',
                            model: 'active',
                            textOn: "Evet",
                            textOff: "Hayır",
                            valueOn: 1,
                            valueOff: 0,
                            required: true
                        },
                        {
                            type: "select",
                            label: "Kullanıcı Grubu",
                            model: "group_id",
                            values:[],
                            selectOptions:{
                               value:'id',
                               name:'name',
                            },
                            required: true
                        }


                    ]
                },
                formOptions: {
                    validateAfterLoad: false,
                    validateAfterChanged: false,
                    validateAsync: false
                }
            }
        },
        methods: {
            addPost(){


                let uri = '/api/create';
                this.axios.post(uri, this.model).then((response) => {
                    this.$emit("reload")
                    this.model = [];
                    $('#exampleModalCenter').modal('toggle'); //or  $('#IDModal').modal('hide');

                    this.$router.push({name: 'home'});

                });
            },

            deneme(){

            }

        }
    }
</script>