<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" >
                    <div class="col-md-8">
                        <hux-table
                                :refresh=refresh
                                :resource_url_base="resource_url_base"
                                :component_name="component_name"
                                :options="table_options"
                                :table_header_keys="table_header_keys"

                        ></hux-table>
                        <!--
                        <div class="col-md-2">
                            <router-link :to="{ name: 'create' }" class="btn btn-primary">Create User</router-link>
                        </div>
                        -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                            Kullanıcı Ekle
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Kullanıcı Ekle</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <create-user @reload="loadUsers"></create-user>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <hux-table
                                :refresh=refresh2
                                :resource_url_base="resource_url_base2"
                                :component_name="component_name2"
                                :options="table_options2"
                                :table_header_keys="table_header_keys2"
                        ></hux-table>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
                            Grup Ekle
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle2">Grup Ekle</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <create-group @reload="loadGroups"></create-group>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!--
                        <div class="col-md-2">
                            <router-link :to="{ name: 'creategroup' }" class="btn btn-primary">Create Group</router-link>
                        </div>
                         -->



                    </div>

                </div>

            </div>

        </div>
        <a class="btn btn-danger" href="/#/using">Kullanma Sayfası</a>

        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">


            </div>
        </div>
    </div>


</template>

<script>
    import CreateUser from './CreateUser.vue';


    export default {


        data: function () {
            return {
                dropdown: [],
                isHidden: true,
                isHidden2: true,
                refresh : 0,
                refresh2 : 0,

                resource_url_base: '/api/posts',
                component_name: 'Phones',
                table_header_keys: [ 'name', 'phone_number', 'email', 'fax_number', 'include_sms_list', 'include_fax_list', 'include_email_list', 'active', 'group_id'],
                table_options: {
                    resource: false,
                    contentDetails: [],
                    noSearch: [
                        //{ key:'email' }
                    ],
                    enableSearchPanel:true,
                    searchSelect: [
                        {key:'include_fax_list',source:[
                                {id:1,title:'evet'},
                                {id:0,title:'hayir'},
                            ]},
                        {key:'include_sms_list',source:[
                                {id:1,title:'evet'},
                                {id:0,title:'hayir'},
                            ]},
                        {key:'include_email_list',source:[
                                {id:1,title:'evet'},
                                {id:0,title:'hayir'},
                            ]},
                        {key:'active',source:[
                                {id:1,title:'evet'},
                                {id:0,title:'hayir'},
                            ]},
                    ],
                    default_table_header_keys: []
                }
                ,
                resource_url_base2: '/api/groupposts',
                component_name2: 'Groups',
                table_header_keys2: [ 'name', 'active'],
                table_options2: {
                    resource: false,
                    contentDetails: [],
                    noSearch: [
                        //{ key:'email' }
                    ],
                    enableSearchPanel:true,
                    searchSelect: [{key:'active',source:[
                            {id:1,title:'evet'},
                            {id:0,title:'hayir'},
                        ]}],
                    default_table_header_keys: []
                }

            }
        },
        methods: {
            loadUsers()
            {

                this.isHidden = true
                this.refresh = this.refresh+1;
            },
            loadGroups()
            {
                this.isHidden2 = true
                this.refresh2 = this.refresh2+1;
            },
            loadDropdown()
            {

                axios
                    .get('/api/grouppostsall')
                    .then(response => (this.dropdown = response.data))

            }

        }
    }
</script>
