<template>
    <div>
        <div v-if="type == 'sms'">
            <div >
                <div v-for="group in groups">
                    <div>
                        <button class="btn btn-info" v-on:click="isHidden = !isHidden, getPhones(group, type)">{{group.name}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-else-if="type == 'fax'">
            <div >
                <div v-for="group in groups">
                    <div>
                        <button class="btn btn-info" v-on:click="isHidden = !isHidden, getPhones(group, type)">{{group.name}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-else-if="type == 'email'">
            <div >
                <div v-for="group in groups">
                    <div>
                        <button class="btn btn-info" v-on:click="isHidden = !isHidden, getPhones(group, type)">{{group.name}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->


</template>

<script>
    export default {
        name: "using",

        props: [
            'type',
            'groups'
        ],
        data() {
          return {
              isHidden: true,
              isHidden2: true,
              isHidden3: true,

              groupIds: [],
              groupNames: [

              ],
              phones:[ ]
          }
        },
        methods: {
            getPhones(group, type)
            {
                var list=[];
                if(type === 'sms')
                {
                    group.phones.map(function(value, key) {
                        if(value.include_sms_list === 1 && value.active === 1 && value.phone_number)
                        {
                            console.log(value.phone_number)
                        }
                    });

                }
                else if(type === 'fax')
                {
                    group.phones.map(function(value, key) {
                        if(value.include_fax_list === 1 && value.active === 1 && value.fax_number !== 0)
                        {
                            console.log(value.phone_number)
                        }
                    });

                }
                else if(type === 'email')
                {
                    group.phones.map(function(value, key) {
                        if(value.include_email_list === 1 && value.active === 1)
                        {
                            console.log(value.phone_number)
                        }
                    });

                }


            },
            bringSms(type)
            {
                let uri = `/api/grouppostsall/`+type;
                this.axios.get(uri).then((response) => {
                    this.groups = response.data;
                });




            },
            logger(numbers)
            {
                console.log(numbers)
            }

        }
    }
</script>

<style scoped>

</style>