<template>
    <div class="panel-body">
        <form @submit.prevent="updateGroup">
            <vue-form-generator :schema="schema" :model="model" :options="formOptions"></vue-form-generator>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Güncelle</button>
            </div>
            <td><button class="btn btn-danger" @click.prevent="deleteGroup">Sil</button></td>


        </form>

    </div>
</template>

<script>
    import Vue from 'vue'
    import VueFormGenerator from 'vue-form-generator'
    import 'vue-form-generator/dist/vfg.css'

    Vue.use(VueFormGenerator)

    export default {
        data () {
            return {
                model: {

                },
                schema: {
                    fields: [
                        {
                            type: 'input',
                            inputType: 'text',
                            label: 'Grup Adı',
                            model: 'name',
                            featured: true,
                            required: true
                        },
                        {
                            type: "switch",
                            label: 'Grup Aktif Mi?',
                            model: 'active',
                            textOn: "Evet",
                            textOff: "Hayır",
                            valueOn: 1,
                            valueOff: 0,
                            required: true

                        }

                    ]
                },
                formOptions: {
                    validateAfterLoad: true,
                    validateAfterChanged: true,
                    validateAsync: true
                }
            }
        },
        created() {
            console.log(this.$route.params.id);
            let uri = `/api/editgroup/${this.$route.params.id}`;
            this.axios.get(uri).then((response) => {
                this.model = response.data;
            });

        },
        methods: {
            updateGroup(){
                let uri = `/api/updategroup/${this.$route.params.id}`;
                this.axios.post(uri, this.model).then((response) => {
                    this.$router.push({name: 'home'});
                });

            },
            deleteGroup() {
                let uri2 = `/api/deletegroup/${this.$route.params.id}`;
                this.axios.delete(uri2).then(response => {
                    this.$router.push({name: 'home'});
                });

            }

        }
    }
</script>