<template>
    <div class="panel-body">
        <form @submit.prevent="updateUser">
            <vue-form-generator :schema="schema" :model="model" :options="formOptions"></vue-form-generator>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Güncelle</button>
            </div>
            <td><button class="btn btn-danger" @click.prevent="deleteUser">Sil</button></td>


        </form>

    </div>
</template>

<script>
    import Vue from 'vue'
    import VueFormGenerator from 'vue-form-generator'
    import 'vue-form-generator/dist/vfg.css'

    Vue.use(VueFormGenerator)

    export default {
        data () {
            return {
                model: {

                },
                schema: {
                    fields: [
                        {
                            type: 'input',
                            inputType: 'text',
                            label: 'İsim',
                            model: 'name',
                            featured: true,
                            required: true
                        },
                        {
                            type: 'input',
                            inputType: 'number',
                            label: 'Telefon:',
                            model: 'phone_number',
                            required: true,
                            validator: VueFormGenerator.validators.double
                        },
                        {
                            type: 'input',
                            inputType: 'email',
                            label: 'E-mail:',
                            model: 'email',
                            required: true,
                            placeholder: "User's e-mail address",
                            validator: VueFormGenerator.validators.email
                        },
                        {
                            type: 'input',
                            inputType: 'number',
                            label: 'Fax:',
                            model: 'fax_number',
                            required: true,
                            validator: VueFormGenerator.validators.double
                        },
                        {
                            type: 'switch',
                            label: 'Sms Listesine Dahil Mi?',
                            model: 'include_sms_list',
                            textOn: "Evet",
                            textOff: "Hayır",
                            valueOn: 1,
                            valueOff: 0,
                            required: true

                        },
                        {
                            type: 'switch',
                            label: 'Fax Listesine Dahil Mi?',
                            model: 'include_fax_list',
                            textOn: "Evet",
                            textOff: "Hayır",
                            valueOn: 1,
                            valueOff: 0,
                            required: true

                        },
                        {
                            type: 'switch',
                            label: 'E-Mail Listesine Dahil Mi?',
                            model: 'include_email_list',
                            textOn: "Evet",
                            textOff: "Hayır",
                            valueOn: 1,
                            valueOff: 0,
                            required: true
                        },
                        {
                            type: "switch",
                            label: 'Hesap Aktif Mi?',
                            model: 'active',
                            textOn: "Evet",
                            textOff: "Hayır",
                            valueOn: 1,
                            valueOff: 0,
                            required: true
                        }

                    ]
                },
                formOptions: {
                    validateAfterLoad: true,
                    validateAfterChanged: true,
                    validateAsync: true
                }
            }
        },
        created() {
            let uri = `/api/edit/${this.$route.params.id}`;
            this.axios.get(uri).then((response) => {
            this.model = response.data;
         });

        },
        methods: {
            updateUser(){
                let uri = `/api/update/${this.$route.params.id}`;
                this.axios.post(uri, this.model).then((response) => {
                    this.$router.push({name: 'home'});
                });

            },
            deleteUser() {
                let uri2 = `/api/delete/${this.$route.params.id}`;
                this.axios.delete(uri2).then(response => {
                    this.$router.push({name: 'home'});
                    });

            }

        }
    }
</script>