<template>
    <div>
        <div class="row">
            <div class="col-md-4">

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" v-on:click="type = 'sms', isHidden = !isHidden, isHidden2 = true, isHidden3 = true,  bringSms('sms')">SMS</button>
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <using :type=type :groups="groups2"></using>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2"  v-on:click="type = 'email', isHidden2 = !isHidden2, isHidden = true, isHidden3 = true,  bringSms('email')">Email</button>
                <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle2">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <using :type=type :groups="groups2"></using>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter3"  v-on:click="type = 'fax', isHidden3 = !isHidden3, isHidden = true, isHidden2 = true, bringSms('fax')">Fax</button>
                <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle3">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <using :type=type :groups="groups2"></using>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->

</template>

<script>
    export default {
        data () {
            return {
                isHidden: true,
                isHidden2: true,
                isHidden3: true,
                type: '',
                groups2:[]
            }
        },
        methods: {
            groupName(id)
            {


            },
            bringSms(type)
            {
                let uri = `/api/grouppostsall/`+type;
                this.axios.get(uri).then((response) => {
                    this.groups2 = response.data;
                });

            },

        }


    }
</script>

<style scoped>

</style>