<template>
    <div>
        <h1>Posts</h1>
        <div class="row">
            <div class="col-md-10"></div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-2">
                    <router-link :to="{ name: 'create' }" class="btn btn-primary">Create Post</router-link>
                </div>
                <table id="table2" class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Item Name</th>
                        <th>Item Price</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="group in groups" :key="group.id">
                        <td>{{ group.id }}</td>
                        <td>{{ group.name}}</td>
                        <td>{{ group.active}}</td>
                        <td><router-link :to="{name: 'edit', params: { id: group.id }}" class="btn btn-primary">Edit</router-link></td>
                        <td><button class="btn btn-danger">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table id="table1" class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Item Name</th>
                        <th>Item Price</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="phone in phones" :key="phone.id">
                        <td>{{ phone.id }}</td>
                        <td>{{ phone.name}}</td>
                        <td>{{ phone.email }}</td>
                        <td><router-link :to="{name: 'edit', params: { id: phone.id }}" class="btn btn-primary">Edit</router-link></td>
                        <td><button class="btn btn-danger">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>




</script>
const app = new Vue( Vue.util.extend({ router }, App)).$mount('#app');



<template>
    <div class="panel-body">
        <form @submit.prevent="addPost">
            <vue-form-generator :schema="schema" :model="model" :options="formOptions"></vue-form-generator>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>

        </form>

    </div>
</template>

<script>
    import Vue from 'vue'
    import VueFormGenerator from 'vue-form-generator'
    import 'vue-form-generator/dist/vfg.css'

    Vue.use(VueFormGenerator)

    export default {
        created: function () {
            Vue.nextTick()
                .then(function () {
                    axios
                        .get('/api/grouppostsall')
                        .then(response => (this.dropdown = response.data))
                })


            var list=[];
            this.dropdown.map(function(value, key) {
                list.push({"id": value.id, "name": value.name})
            });

            var data = this.schema.fields.find(x=>x.model==='group_id');
            data.values=list;


            console.log("here")
            console.log(list)
            console.log("here")
        },
        data () {
            return {
                dropdown: [],


                model: {

                },
                schema: {
                    fields: [
                        {
                            type: 'input',
                            inputType: 'text',
                            label: 'İsim',
                            model: 'name',
                            featured: true,
                            required: true
                        },
                        {
                            type: 'input',
                            inputType: 'number',
                            label: 'Telefon:',
                            model: 'phone',
                            required: true,
                            validator: VueFormGenerator.validators.number
                        },
                        {
                            type: 'input',
                            inputType: 'email',
                            label: 'E-mail:',
                            model: 'email',
                            required: true,
                            validator: VueFormGenerator.validators.email
                        },
                        {
                            type: 'input',
                            inputType: 'number',
                            label: 'Fax:',
                            model: 'fax',
                            required: true,
                            validator: VueFormGenerator.validators.number
                        },
                        {
                            type: 'switch',
                            label: 'Sms Listesine Dahil Mi?',
                            model: 'sms_list',
                            textOn: "Evet",
                            textOff: "Hayır",
                            valueOn: 1,
                            valueOff: 0,
                            required: true
                        },
                        {
                            type: 'switch',
                            label: 'Fax Listesine Dahil Mi?',
                            model: 'fax_list',
                            textOn: "Evet",
                            textOff: "Hayır",
                            valueOn: 1,
                            valueOff: 0,
                            required: true
                        },
                        {
                            type: 'switch',
                            label: 'E-Mail Listesine Dahil Mi?',
                            model: 'email_list',
                            textOn: "Evet",
                            textOff: "Hayır",
                            valueOn: 1,
                            valueOff: 0,
                            required: true

                        },
                        {
                            type: "select",
                            label: "Type",
                            model: "group_id",
                            values:[],
                            required: true
                        }


                    ]
                },
                formOptions: {
                    validateAfterLoad: true,
                    validateAfterChanged: true,
                    validateAsync: true
                }
            }
        },
        methods: {
            addPost(){


                let uri = '/api/create';
                this.axios.post(uri, this.model).then((response) => {
                    this.$emit("reload")
                    this.$router.push({name: 'home'});

                });
            }

        }
    }
</script>




<template>
    <div class="panel-body">
        <form @submit.prevent="addPost">
            <vue-form-generator :schema="schema" :model="model" :options="formOptions"></vue-form-generator>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>

        </form>
        <form @submit.prevent="deneme">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create2</button>
            </div>

        </form>


    </div>
</template>

<script>
    import Vue from 'vue'
    import VueFormGenerator from 'vue-form-generator'
    import 'vue-form-generator/dist/vfg.css'

    Vue.use(VueFormGenerator)

    export default {

        mounted() {


        },

        data () {
            return {
                dropdown: [],


                model: {

                },
                schema: {
                    fields: [
                        {
                            type: 'input',
                            inputType: 'text',
                            label: 'İsim',
                            model: 'name',
                            featured: true,
                            required: true
                        },
                        {
                            type: 'input',
                            inputType: 'number',
                            label: 'Telefon:',
                            model: 'phone',
                            required: true,
                            validator: VueFormGenerator.validators.number
                        },
                        {
                            type: 'input',
                            inputType: 'email',
                            label: 'E-mail:',
                            model: 'email',
                            required: true,
                            validator: VueFormGenerator.validators.email
                        },
                        {
                            type: 'input',
                            inputType: 'number',
                            label: 'Fax:',
                            model: 'fax',
                            required: true,
                            validator: VueFormGenerator.validators.number
                        },
                        {
                            type: 'switch',
                            label: 'Sms Listesine Dahil Mi?',
                            model: 'sms_list',
                            textOn: "Evet",
                            textOff: "Hayır",
                            valueOn: 1,
                            valueOff: 0,
                            required: true
                        },
                        {
                            type: 'switch',
                            label: 'Fax Listesine Dahil Mi?',
                            model: 'fax_list',
                            textOn: "Evet",
                            textOff: "Hayır",
                            valueOn: 1,
                            valueOff: 0,
                            required: true
                        },
                        {
                            type: 'switch',
                            label: 'E-Mail Listesine Dahil Mi?',
                            model: 'email_list',
                            textOn: "Evet",
                            textOff: "Hayır",
                            valueOn: 1,
                            valueOff: 0,
                            required: true

                        },
                        {
                            type: "switch",
                            label: 'Hesap Aktif Mi?',
                            model: 'active',
                            textOn: "Evet",
                            textOff: "Hayır",
                            valueOn: 1,
                            valueOff: 0,
                            required: true
                        },
                        {
                            type: "select",
                            label: "Type",
                            model: "group_id",
                            values:[],
                            required: true
                        }


                    ]
                },
                formOptions: {
                    validateAfterLoad: true,
                    validateAfterChanged: true,
                    validateAsync: true
                }
            }
        },
        methods: {
            addPost(){


                let uri = '/api/create';
                this.axios.post(uri, this.model).then((response) => {
                    this.$emit("reload")
                    this.$router.push({name: 'home'});

                });
            },

            deneme(){
                axios
                    .get('/api/grouppostsall')
                    .then(response => (this.dropdown = response.data))
                var list=[];
                this.dropdown.map(function(value, key) {
                    list.push({"id": value.id, "name": value.name})
                });

                var data = this.schema.fields.find(x=>x.model==='group_id');
                data.values=list;


                console.log("here")
                console.log(list)
                console.log("here")

            }

        }
    }
</script>



/*example component*/
<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" >
                    <div class="col-md-8">
                        <hux-table
                                :refresh=refresh
                                :resource_url_base="resource_url_base"
                                :component_name="component_name"
                                :options="table_options"
                                :table_header_keys="table_header_keys"

                        ></hux-table>
                        <!--
                        <div class="col-md-2">
                            <router-link :to="{ name: 'create' }" class="btn btn-primary">Create User</router-link>
                        </div>
                        -->
                        <button class="btn btn-info" v-on:click="isHidden = !isHidden, isHidden2 = true, loadDropdown()">Kullanıcı Ekle</button>
                        <div v-if="!isHidden">
                            <create-user :dropdown="dropdown" @reload="loadUsers"></create-user>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <hux-table
                                :refresh=refresh2
                                :resource_url_base="resource_url_base2"
                                :component_name="component_name2"
                                :options="table_options2"
                                :table_header_keys="table_header_keys2"
                        ></hux-table>
                        <button class="btn btn-info" v-on:click="isHidden2 = !isHidden2, isHidden = true">Grup Ekle</button>
                        <div v-if="!isHidden2">
                            <create-group @reload="loadGroups"></create-group>
                        </div>
                        <!--
                        <div class="col-md-2">
                            <router-link :to="{ name: 'creategroup' }" class="btn btn-primary">Create Group</router-link>
                        </div>
                         -->



                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">


            </div>
        </div>
    </div>


</template>

<script>
    import CreateUser from './CreateUser.vue';


    export default {


        data: function () {
            return {
                dropdown: [],
                isHidden: true,
                isHidden2: true,
                refresh : 0,
                refresh2 : 0,

                resource_url_base: '/api/posts',
                component_name: 'Phones',
                table_header_keys: [ 'name', 'phone_number', 'email', 'fax_number', 'include_sms_list', 'include_fax_list', 'include_email_list', 'active', 'group_id'],
                table_options: {
                    resource: false,
                    contentDetails: [],
                    noSearch: [
                        //{ key:'email' }
                    ],
                    enableSearchPanel:true,
                    searchSelect: [
                        {key:'include_fax_list',source:[
                                {id:1,title:'evet'},
                                {id:0,title:'hayir'},
                            ]},
                        {key:'include_sms_list',source:[
                                {id:1,title:'evet'},
                                {id:0,title:'hayir'},
                            ]},
                        {key:'include_email_list',source:[
                                {id:1,title:'evet'},
                                {id:0,title:'hayir'},
                            ]},
                        {key:'active',source:[
                                {id:1,title:'evet'},
                                {id:0,title:'hayir'},
                            ]},
                    ],
                    default_table_header_keys: []
                }
                ,
                resource_url_base2: '/api/groupposts',
                component_name2: 'Groups',
                table_header_keys2: [ 'name', 'active'],
                table_options2: {
                    resource: false,
                    contentDetails: [],
                    noSearch: [
                        //{ key:'email' }
                    ],
                    enableSearchPanel:true,
                    searchSelect: [{key:'active',source:[
                            {id:1,title:'evet'},
                            {id:0,title:'hayir'},
                        ]}],
                    default_table_header_keys: []
                }

            }
        },
        methods: {
            loadUsers()
            {

                this.isHidden = true
                this.refresh = this.refresh+1;
            },
            loadGroups()
            {
                this.isHidden2 = true
                this.refresh2 = this.refresh2+1;
            },
            loadDropdown()
            {

                axios
                    .get('/api/grouppostsall')
                    .then(response => (this.dropdown = response.data))

            }

        }
    }
</script>





//////get phones

getPhones(id, type)
{
if(type === 'sms')
{
let uri = `/api/getSmsNames/`+id;
this.axios.get(uri).then((response) => {
console.log(response.data);
});

}
else if(type === 'fax')
{
let uri = `/api/getFaxNames/`+id  ;
this.axios.get(uri).then((response) => {
this.phones = response.data;
});

}
else if(type === 'email')
{
let uri = `/api/getEmailNames/`+id;
this.axios.get(uri).then((response) => {
this.phones = response.data;
});

}


},