<template>
  <div class="v-paginator">
    <div class="btn-group">
      <button class="btn btn-default" @click="fetchData(false,1)" :disabled="current_page==1">
        <i class="fa fa-angle-double-left"></i>
      </button>
      <button class="btn btn-default" @click="fetchData(prev_page_url)" :disabled="!prev_page_url">
        <i class="fa fa-chevron-circle-left"></i>
      </button>
    </div>
    <span>{{current_page}} / {{last_page}}</span>
    <div class="btn-group">
      <button class="btn btn-default" @click="fetchData(next_page_url)" :disabled="!next_page_url">
        <i class="fa fa-chevron-circle-right"></i>
      </button>
      <button class="btn btn-default" @click="fetchData(false,last_page)" :disabled="last_page==current_page">
        <i class="fa fa-angle-double-right"></i>
      </button>
    </div>
    <button class="btn btn-default" v-if="total>0">
      {{total}}
    </button>
  </div>
</template>

<script>
    import {utils} from './utils'
    import { mapState, mapActions } from 'vuex';
    export default {
        props: {
            resource_url: {
                type: String,
                required: true
            },
            rows_per_page: {
                type: Number,
                required: false
            },
            resource: {},
            search_texts: {
                type: Object,
                required: false
            },
            sort: {
                type: Object,
                required: false
            },

            fetch_data: {
                type: Boolean,
                required: false
            },

            custom_template : '',
            options: {
                type: Object,
                required: false,
                default () {
                    return {}
                }
            }
        },
        data () {
            return {
                current_page: '',
                last_page: '',
                total: 0,
                next_page_url: '',
                prev_page_url: '',
                config: {
                    remote_data: 'data',
                    remote_current_page: 'current_page',
                    remote_last_page: 'last_page',
                    remote_next_page_url: 'next_page_url',
                    remote_prev_page_url: 'prev_page_url',
                    previous_button_text: 'geri',
                    next_button_text: 'ileri'
                }
            }
        },
        methods: {
            fetchData (pageUrl,toPage) {
                this.$emit("request_start");
                pageUrl = pageUrl || this.resource_url
                toPage = toPage || 0;

                pageUrl = pageUrl.replace(/&$/, ""); //ensondaki & işaretini silelim

                if(toPage>0)
                {

                    var seperator = '?';
                    if(pageUrl.indexOf('?') !== -1)
                    {
                        seperator = '&';
                    }

                    pageUrl += seperator+'page='+toPage;
                }
                if(this.rows_per_page)
                {

                    var seperator = '?';
                    if(pageUrl.indexOf('?') !== -1)
                    {
                        seperator = '&';
                    }

                    pageUrl += seperator+'count='+this.rows_per_page;
                }
                if(this.resource)
                {

                    if(pageUrl.indexOf('resource') === -1) {
                        var seperator = '?';
                        if(pageUrl.indexOf('?') !== -1)
                        {
                            seperator = '&';
                        }

                        pageUrl += seperator+'resource='+this.resource;
                    }
                }
                if(this.search_texts)
                {
                    $.each(this.search_texts, function(index, value) {
                        if(value) {
                            if(Array.isArray(value)) {
                                $.each(value, function(index2, value2) {
                                    pageUrl += '&' + index +'[]=' + encodeURI(value2);
                                });
                            } else {
                                pageUrl += '&' + index +'=' + encodeURI(value);
                            }
                        }
                    });
                }

                if(this.sort!={})
                {
                    $.each(this.sort, function(index, value) {

                        var seperator = '?';
                        if(pageUrl.indexOf('?') !== -1)
                        {
                            seperator = '&';
                        }
                        if(value) {
                            pageUrl += seperator + 'sort['+index+']=' + value;
                        }
                    });
                }
                var self = this
                var config = {};
                if(this.config.headers) {
                    config.headers = this.config.headers;
                }
                this.$emit('update', []);
                this.$http.get(pageUrl, config)
                    .then(function (response) {
                        self.$emit("request_finish",response);
                        self.handleResponseData(response.data)
                    }).catch(function (response) {
                    self.$emit("request_error",response);
                    console.log('Fetching data failed.', response)
                })
            },
            handleResponseData (response) {
                this.makePagination(response)
                let data = utils.getNestedValue(response, this.config.remote_data)
                this.$emit('update', data)
            },
            makePagination (data) {
              console.log(data);
                this.current_page = utils.getNestedValue(data, this.config.remote_current_page)
                this.last_page = utils.getNestedValue(data, this.config.remote_last_page)
                this.total = data.total;
                this.updateHuxTableStates({key:this.$parent.component_name+'_'+'current_page',value:this.current_page});
                this.next_page_url = (this.current_page === this.last_page) ? null : utils.getNestedValue(data, this.config.remote_next_page_url);
                this.prev_page_url = (this.current_page === 1) ? null : utils.getNestedValue(data, this.config.remote_prev_page_url);
                if(this.last_page<this.current_page) {
                    this.fetchData(false,this.last_page);
                }
            },
            initConfig(){
                this.config = utils.merge_objects(this.config, this.options)
            },
            ...mapActions([
                'updateHuxTableStates',
            ]),
        },
        watch : {
            resource_url () {
                this.fetchData()
            },
            rows_per_page () {
                this.fetchData()
            },
            fetch_data () {
                this.fetchData()
            },
        },
        created () {
            this.initConfig()
            let storedPage = this._huxTable[this.$parent.component_name+'_'+'current_page'];
            this.fetchData(false,storedPage)
        },
        computed: {
            ...mapState([
                '_huxTable',
            ]),
        },
    }
</script>
