<template>
    <div class="panel-default HuxTable">

        <div class="panel-body panel-body-only-rightleft-padding" v-if="!isLoaded">
            {{ this.$root.loadingContent }}
        </div>
        <div class="panel-body panel-body-only-rightleft-padding" v-else>
            <div class="table-responsive">
                <div class="panel-footer" v-if="showTableFilter">
                    <div class="row" style="margin-bottom: 10px;">
                        <div style="margin-top: 10px;" class="col-sm-3 col-md-2 col-xs-12" v-for="table_header in table_headers"  v-if="!options.noSearch.find(x => x.key === table_header.key)&&(showAllSearchFields||table_header.checked)">
                       <span style="display: block;">
                           <i v-if="search_texts[table_header.key]"
                              @click="removeFilter(table_header.key)"
                              style="cursor: pointer;" class="fa fa-times-circle-o"
                           ></i>
                        {{ $root.locales['table_headers_'+component_name+'_'+table_header.key] }}<b
                               v-if="!options.noSearch.find(x => x.key === table_header.key)"></b>
                    </span>
                            <span v-if="!table_header.showSearch">
                                 <select style="display: block;" v-model="search_texts[table_header.key]" @change="search_row(table_header.key)"
                                         v-if="options.searchSelect.find(x => x.key === table_header.key)"
                                         :multiple="options.searchSelect.find(x => x.key === table_header.key).allowMultiple"
                                         data-container="body" class="selectpicker" data-live-search="true">
                                        <option value="0" v-if="!options.searchSelect.find(x => x.key === table_header.key).allowMultiple">---</option>
                                        <option :value="search_select.id"
                                                v-for="search_select in options.searchSelect.find(x => x.key === table_header.key).source">
                                            {{search_select.name||search_select.title}}
                                        </option>
                                    </select>
                                <hux-daterangepicker
                                        v-else-if="options.dateRangePicker&&options.dateRangePicker.find(x => x.key === table_header.key)"
                                        v-model="search_texts[table_header.key]"
                                        :disableInitialEmit="true"
                                        @input="search_row(table_header.key)"
                                        opens="right"
                                ></hux-daterangepicker>
                                <input class="form-control search_text"
                                       @keyup.enter="search_row(table_header.key)" type="text"
                                       v-model="search_texts[table_header.key]" v-else autofocus/>
                            </span>
                        </div>
                    </div>

                    <button type="button" class="btn btn-default" @click="showTableFilter=false">
                        {{ $root.locales.close }}
                    </button>
                    <button type="button" class="btn btn-success" @click="search_data">
                        Ara
                    </button>
                    <input  type="checkbox" v-model="showAllSearchFields" @click="showAllSearchFieldsButton">Tüm Alanları Göster

                </div>

            </div>
            <div class="table-responsive">

                <table class="table table-hover" :id="'huxTable-'+component_name">
                    <thead>
                    <tr>
                        <th v-if="options.enableBulkProcess">
                            <input v-on:change="$emit('action',selectedProcess,checked)"
                                   @click="allChecked()"
                                   v-model="allCheckedStatus"
                                   type="checkbox"
                            >
                        </th>
                        <th v-for="table_header in table_headers"
                            v-if="table_header.checked"
                            :class="{'text-nowrap':true,'tikla':!options.noSearch.find(x => x.key === table_header.key)}"
                        >
                            <span v-if="options.allowSort.find(x => x.key === table_header.key)">
                                <i class="fa fa-sort tikla" v-if="!sort[table_header.key]"
                                   @click="row_sort(table_header.key)"></i>
                                <i class="fa fa-sort-desc tikla" title="Azalan" style="color:red"
                                   @click="row_sort(table_header.key)" v-else-if="sort[table_header.key]==='desc'"></i>
                                <i class="fa fa-sort-asc tikla" title="Artan" style="color:#00bd00"
                                   @click="row_sort(table_header.key)" v-else-if="sort[table_header.key]==='asc'"></i>
                            </span>
                            <span @click="show_search(table_header)">
                                {{ $root.locales['table_headers_'+component_name+'_'+table_header.key] }}<b
                                    v-if="!options.noSearch.find(x => x.key === table_header.key)"><sup>˅</sup></b>
                            </span>
                            <br/>
                            <span v-if="!options.noSearch.find(x => x.key === table_header.key)&&table_header.showSearch&&!showTableFilter">
                                <select v-model="search_texts[table_header.key]" @change="search_row(table_header.key)"
                                        v-if="options.searchSelect.find(x => x.key === table_header.key)"
                                        :multiple="options.searchSelect.find(x => x.key === table_header.key).allowMultiple"
                                        data-container="body" class="selectpicker" data-live-search="true">
                                    <option value="0" v-if="!options.searchSelect.find(x => x.key === table_header.key).allowMultiple">---</option>
                                    <option :value="search_select.id"
                                            v-for="search_select in options.searchSelect.find(x => x.key === table_header.key).source">
                                        {{search_select.name||search_select.title}}
                                    </option>
                                </select>
                                <hux-daterangepicker
                                        v-else-if="options.dateRangePicker&&options.dateRangePicker.find(x => x.key === table_header.key)"
                                        v-model="search_texts[table_header.key]"
                                        @input="search_row(table_header.key)"
                                ></hux-daterangepicker>
                                <input class="form-control search_text"
                                       @keyup.enter="search_row(table_header.key)" type="text"
                                       v-model="search_texts[table_header.key]" v-else autofocus/>
                            </span>
                        </th>
                    </tr>
                    </thead>
                    <span v-if="rows.length == 0">
                        <span v-if="isRequest">
                            Kayıt yok.
                        </span>
                        <span v-else>
                            {{ this.$root.loadingContent }}
                        </span>
                    </span>
                    <tbody v-else>
                    <tr v-for="row in rows">
                        <td v-if="options.enableBulkProcess">
                            <input v-on:change="$emit('action',selectedProcess,checked)"
                                   @click="allCheckedStatus=false"
                                   v-model="checked" type="checkbox"
                                   :value="row['public_token']"
                            >
                        </td>
                        <td v-for="table_header in table_headers"
                            class="text-nowrap tikla"
                            @click.exact="row_click(row,table_header.key)"
                            v-if="table_header.checked"
                        >
                            <a :href="row_right_click(row).href"
                               style="display:block;color:black" v-html="create_content(row,table_header.key)"></a>

                        </td>

                        <td v-if="options.enableGetInfo">
                            <button @click="$emit('info',row)" class="btn btn-info btn-xs">Detay</button>
                        </td>
                        <td v-if="options.enableDelete">
                            <button @click="$emit('delete',row)" class="btn btn-danger btn-xs">Sil</button>
                        </td>
                        <td v-if="options.enableDashboard">
                            <button @click="$emit('dashboard',row)" class="btn btn-primary btn-xs">Ana Ekran</button>
                        </td>
                        <td v-if="options.enableAudio && row.status =='Cevaplanmış'">
                            <button @click="$emit('audio',row)" class="btn btn-primary btn-xs">Dinle</button>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel-heading" v-if="showTableSettings">
            <div class="drag">
                <span>{{ $root.locales.table_header_settings }}<br></span>
                <draggable element="ul" class="dragArea" :list="table_headers">
                    <li v-for="(table_header,index) in table_headers"
                        style="display: inline-block;white-space: nowrap;margin-right:3px;margin-bottom:3px">
                        <button type="button" @click="table_header.checked=!table_header.checked"
                                class="btn btn-xs btn-default">
                            <input type="checkbox" class="form-check-input" v-model="table_header.checked"> {{
                            $root.locales['table_headers_'+component_name+'_'+table_header.key] }}
                        </button>
                    </li>
                </draggable>
            </div>
            <button type="button" class="btn btn-default btn-xs" @click="showTableSettings=false">
                {{ $root.locales.close }}
            </button>
            <button type="button" class="btn btn-success btn-xs" @click="set_table_headers">
                {{ $root.locales.saveAndClose }}
            </button>
        </div>

        <div class="panel-footer">

            <div class="scrolling-wrapper">

                <select class="selectpicker rpp wrapper-item" v-if="isLoaded" data-container="body" v-model="rows_per_page" @change="set_rows_per_page" data-width="65px">
                    <option v-for="table in resource_per_item" v-bind:value="table.value">
                        {{ table.title }}
                    </option>
                </select>

                <button type="button" @click="showTableSettings=!showTableSettings" class="btn btn-default wrapper-item">
                    <i class="fa fa-filter"></i>
                </button>

                <button v-if="options.enableSearchPanel" type="button" @click="showTableFilterOpen" class="btn btn-default wrapper-item">
                    <i class="fa fa-search"></i>
                </button>
                <v-paginator
                        :resource_url="resource_url"
                        :resource="options.resource"
                        :rows_per_page="rows_per_page"
                        :fetch_data="fetch_data"
                        :search_texts="search_texts"
                        :sort="sort"
                        @update="update_rows"
                        @request_start="isRequest=false,$emit('request_start',true)"
                        @request_finish="isRequest=true,$emit('request_finish',true)"
                        @request_error="isRequest=true"
                        v-if="isLoaded"
                        class="pull-right wrapper-item"
                        ref="paginator"
                ></v-paginator>
            </div>


        </div>

    </div>
</template>

<script>
    //import moment from 'moment'

    export default {
        props: {
            resource_url_base: String,
            refresh: {
                default: function () {
                    return 0
                },
                type: Number
            },
            component_name: String,
            table_header_keys: Array,
            searchBulkKey: {
                default: '',
                type: String
            },
            options: {
                default: function () {
                    return {
                        resource: false,
                        contentDetails: [],
                        tooltip: [],
                        dateRangePicker: [],
                        noSearch: [],
                        showHtml: [],
                        allowSort: [],
                        enableBulkProcess: false,
                        enableSearchPanel: false,
                        disableHref: false,
                        enableGetInfo:false,
                        enableDelete:false,
                        enableDashboard:false,
                        enableAudio:false,
                        enableRowClickEmit:false,
                        searchSelect: [],
                        dateTime: [],
                        default_table_header_keys: [],
                        keepCurrentDataWhenLoading: false
                    }
                },
                type: Object
            }

        },
        data() {
            return {
                selectedProcess: 0,
                checked: [],
                allCheckedStatus: false,
                isLoaded: false,
                isRequest: false,
                fetch_data: true,
                showTableSettings: false,
                showTableFilter: false,
                showAllSearchFields:false,
                sort: {},
                rows: [],
                resource_url: false,
                search_texts: {},
                table_headers: [],
                rows_per_page: 10,
                resource_per_item: [
                    {title: '10', value: 10},
                    {title: '20', value: 20},
                    {title: '30', value: 30},
                    {title: '40', value: 40},
                    {title: '50', value: 50},
                    {title: '75', value: 75},
                    {title: '100', value: 100},
                ],
                timeType: {
                    'minutes': 'Dakika',
                    'hours': 'Saat',
                    'days': 'Gün'
                },
                audioSrc:'',
            }
        },
        methods: {
            showTableFilterOpen()
            {
                let app = this;
                app.showTableFilter=!app.showTableFilter;

                this.table_headers.forEach(function (table_header) {
                    table_header.showSearch=false;
                });
            },
            showAllSearchFieldsButton()
            {
                let app = this;
                app.showAllSearchFields=!app.showAllSearchFields;
                app.showTableFilter=false;
                Vue.nextTick(() =>{
                    app.showTableFilter=true;
                });
            },
            removeFilter(key)
            {
                let app = this;
                app.search_texts[key] = '';
                app.search_row('search');
            },
            search_data()
            {
                let app  = this;
                app.search_row('search')
            },
            allChecked() {
                let app = this;
                if (!app.allCheckedStatus) {
                    if (app.checked.length > 0) {
                        app.checked = [];
                    }

                    app.rows.forEach(function (row) {
                        app.checked.push(row['public_token'])
                    });
                }
                else {
                    app.checked = [];
                }
                return true;
            },
            unix2datetime(unix) {
                return this.$root.unix2datetime(unix);
            },
            htmlentities(str) {
                var buf = [];

                for (var i = str.length - 1; i >= 0; i--) {
                    buf.unshift(['&#', str[i].charCodeAt(), ';'].join(''));
                }

                return buf.join('');
            },
            create_content(row, key) {
                let value = "";

                if (key === 'did_topic_timeout') {
                    key = 'passed_time';
                }

                let array = key.split(".");
                if(array.length>1)
                {
                    var i=0;
                    var data=row[array[0]];
                    array.forEach(function(value){
                        i=i+1;
                        if(data[value])
                        {
                            data = data[value];
                        }

                    });

                    value=data;

                }
                else{
                    value = row[key];
                }

                if(this.component_name == 'AnnouncementList' && key=='read_at')
                {
                    if(row['read_at'])
                    {
                        return 'Okundu';
                    }
                    else{
                        return 'Okunmadı';
                    }
                }

                if(this.component_name == 'Incident' && key=='status')
                {
                    let searchSelect = this.options.searchSelect.find(x => x.key === key);
                    let realValue = searchSelect.source.find(x => x.id === value)
                    let color = this.$root.common.incidentStatusesColors['background'][value+'_status_colors'];
                    let text_color = this.$root.common.incidentStatusesColors['text'][value+'_status_colors_text'];
                    return '<span class="status-content" style="color:'+text_color+';background-color: '+color+';"> '+realValue.title+' </span>';

                }

                if (key === 'send_files') {
                    if (!value) {
                        return 'hazır değil';
                    } else {
                        let link = '';
                        value.forEach(function (file) {
                            link += '<a style="margin-right: 5px;" href="/fax/download/' + file + '" target="_blank"><i class="fa fa-file"></i></a>';
                        })
                        return link
                    }
                }

                if (key === 'file' && this.component_name === 'FaxInbox') {
                    if (!value) {
                        return 'hazır değil';
                    } else {
                        return '<a href="/fax/download/' + value.local_name + '?preview=true" target="_blank"><i class="fa fa-file"></i></a>';
                    }
                }

                if (key === 'timeout') {
                    if (row.incident_timeout) {
                        return row.incident_timeout.value + " " + this.timeType[row.incident_timeout.type]
                    }
                    else {
                        return '-';
                    }
                }

                let content = '';

                let notZeroKeys = [
                    'department_id',
                    'connection_info.department_id',
                    'topic_id',
                    'responsible_user_id'
                ];


                if(this.options.showHtml)
                {
                    let showHtml = this.options.showHtml.find(x => x.key === key);


                    if(showHtml)
                    {
                        return row[key];
                    }
                }
                if (value === 0 && notZeroKeys.includes(key) || !value || typeof value=== 'object') {
                    content = '-';
                } else if (key.substr(-3, 3) === '_at') {
                    if (value < 100000) {
                        content = '-';
                    }
                    content = this.unix2datetime(value);
                    //return moment(value*1000).format('DD.MM.YYYY HH:mm:ss');
                } else if (this.component_name === 'AdminIncidentSource' && key !== 'title' && key !== 'allow_reopen_in_days') {
                    content = value ? 'Evet' : 'Hayır';
                } else {
                    let icon = false;
                    let customContent = false;
                    let searchSelect = this.options.searchSelect.find(x => x.key === key);
                    if (searchSelect) {
                        let realValue = false

                        if (searchSelect.backupSource) {
                            realValue = searchSelect.backupSource.find(x => x.id === value);
                        } else {
                            realValue = searchSelect.source.find(x => x.id === value);
                        }

                        if (realValue) {
                            customContent = true;
                            if (realValue.name != null) {
                                value = realValue.name;
                            } else if (realValue.title != null) {
                                value = realValue.title;
                            }
                            if (realValue.icon != null) {
                                icon = realValue.icon;
                            }
                        }
                    }

                    if (this.options.dateTime) {
                        let dateTime = this.options.dateTime.find(x => x.key === key);
                        if (dateTime) {
                            customContent = true;
                            if(dateTime.format) {
                                value = moment.unix(value).utcOffset('+0300').format(dateTime.format);
                            } else {
                                value = this.unix2datetime(value);
                            }
                        }
                    }

                    let detail = this.options.contentDetails.find(x => x.key === key);
                    if (detail) {
                        if (detail.max_length) {
                            customContent = true;
                            let length = value.length;
                            if (length > detail.max_length) {
                                if (value) {
                                    let shortValue = this.htmlentities(value.substring(0, detail.max_length));
                                    let longValue = this.htmlentities(value);
                                    value = '<span data-toggle="tooltip" data-placement="bottom" title="' +
                                        longValue + '">' +
                                        shortValue + '</span>' +
                                        '<span style="display:none">' + value.substring(detail.max_length,) + '</span>';
                                }

                            } else {
                                if (value) {
                                    value = this.htmlentities(value);
                                }
                            }
                        }
                    }

                    if(this.options.tooltip)
                    {
                        let tooltip = this.options.tooltip.filter(x => x.key === key);
                        if (tooltip) {

                            if(key=='responsible_user_id')
                            {

                                let user =this.$root.common.users.find(x => x.id==row.responsible_user_id)
                                if(user)
                                {
                                    let department = this.$root.common.departments.find(x=>x.id==user.department_id);

                                    if(department)
                                    {
                                        value = '<span data-toggle="tooltip" data-placement="top" title="Birim: ' +
                                            department.title + '">' +
                                            value+ '</span>';
                                    }
                                }
                            }

                        }
                    }


                    if (value && Object.prototype.toString.call(value) === "[object String]" && !customContent && key !== 'passed_time') {
                        value = this.htmlentities(value);
                    }

                    if (icon) {
                        value = '<img src=' + icon + ' style="height:18px"/>' + ' ' + value;
                    }
                    content = value;
                }


                return content;

            },
            search_row(key) {
                this.fetch_data = !this.fetch_data;
                this.updateSearchTexts({key: this.component_name, value: this.search_texts});
                this.$emit('change-filter',key,this.search_texts[key]);
                let showTableFilter = this.showTableFilter;
                this.table_headers.forEach(function (table_header) {

                    if(table_header.showSearch && (table_header.key=='responsible_user_id' || table_header.key=='topic_id'))
                    {
                        table_header.showSearch=false;
                        Vue.nextTick(function () {
                            table_header.showSearch=true;
                        })
                    }else if(showTableFilter && (table_header.key=='department_id' || table_header.key=='responsible_user_id' || table_header.key=='topic_id'))
                    {
                        table_header.showSearch=true;
                        Vue.nextTick(function () {
                            table_header.showSearch=false;
                        })
                    }
                });
            },
            update_rows(data) {
                if(this.options.keepCurrentDataWhenLoading&&data.length===0) {
                    if(!this.isRequest) {
                        return false;
                    }
                }
                this.rows = data;
                this.checked = [];
                this.selectedProcess = 0;
                this.allCheckedStatus = false;
            },
            row_click(row,key) {


                if(this.options.enableRowClickEmit)
                {
                    this.$emit('click',row,key);
                    return true;
                }


                if(this.component_name=='CallCenterQueueStats')
                {
                    this.$emit('graphic',this.rows,key,row);

                    return true;
                }



                if (this.options.disableHref) {
                    return false;
                }

                let id = row.id;
                if (row.public_token) {
                    id = row.public_token;
                }
                this.$router.push({name: this.component_name + 'Edit', params: {id: id}});
            },
            row_sort(key) {

                if (!this.sort[key]) {
                    this.sort = {};
                    this.sort[key] = 'desc';
                } else if (this.sort[key] == 'desc') {
                    this.sort[key] = 'asc';
                } else if (this.sort[key] == 'asc') {
                    this.sort[key] = 'desc';
                }

                this.fetch_data = !this.fetch_data;

                this.updateSort({key: this.component_name, value: this.sort});
            },
            row_right_click(row) {

                if (this.options.disableHref) {
                    return false;
                }

                let id = row.id;
                if (row.public_token) {
                    id = row.public_token;
                }
                let params={id:id};
                return this.$router.resolve({name: this.component_name + 'Edit', params: params});
            },
            get_rows_per_page() {
                const cookie_name = this.component_name + "-rows_per_page";
                const rows_per_page_default = 10;

                if (typeof(Storage) !== "undefined") {
                    let cookie = parseInt(localStorage.getItem(cookie_name));
                    if (!cookie || cookie <= rows_per_page_default) {
                        localStorage.removeItem(cookie_name)
                        return rows_per_page_default;
                    } else {
                        return cookie;
                    }
                } else {
                    let cookie = parseInt(this.$cookies.get(cookie_name));
                    if (!cookie || cookie <= rows_per_page_default) {
                        this.$cookies.remove(cookie_name);
                        return rows_per_page_default;
                    } else {
                        return cookie;
                    }
                }


            },
            get_table_headers() {
                let th = [];
                let app = this;

                const cookie_name = this.component_name + "-table_headers";
                let cookie = false;
                try {
                    if (typeof(Storage) !== "undefined") {
                        cookie = localStorage.getItem(cookie_name);
                    } else {
                        cookie = this.$cookies.get(cookie_name);
                    }

                } catch (e) {
                    cookie = false;
                }
                if (cookie) {
                    try {
                        cookie = JSON.parse(cookie);
                    } catch (e) {
                        cookie = false;
                    }
                }

                $.each(this.table_header_keys, function (index, value) {
                    var element = {};
                    element.key = value;

                    if (cookie) {

                        let value_in_cookie_index = cookie.findIndex(item => {
                            return item.key == value
                        });
                        if (value_in_cookie_index > -1) {
                            let value_in_cookie = cookie[value_in_cookie_index];

                            element.checked = Boolean(value_in_cookie.checked);
                            element.order = value_in_cookie_index;

                        } else {

                            if (app.options.default_table_header_keys.length === 0 || app.options.default_table_header_keys.indexOf(value) > -1) {
                                element.checked = true;
                            } else {
                                element.checked = false;
                            }
                        }

                    } else {

                        let value_index = app.options.default_table_header_keys.indexOf(value);
                        if (value_index > -1) {
                            element.order = value_index;
                        }else{
                            element.order = 0;
                        }

                        if (app.options.default_table_header_keys.length === 0 || app.options.default_table_header_keys.indexOf(value) > -1) {
                            element.checked = true;
                        } else {
                            element.checked = false;
                        }

                    }

                    element.showSearch = false;
                    th.push(element);

                    if(app.options.searchSelect.find(x=>x.key==value) && app.options.searchSelect.find(x=>x.key==value).allowMultiple)
                    {
                        app.search_texts[value] = [];
                    } else {
                        app.search_texts[value] = '';
                    }

                });


                return th.sort(function (a, b) {
                    return a.order - b.order
                });

            },
            set_rows_per_page() {
                if (typeof(Storage) !== "undefined") {
                    localStorage.setItem(this.component_name + "-rows_per_page", parseInt(this.rows_per_page));
                } else {
                    this.$cookies.set(this.component_name + "-rows_per_page", parseInt(this.rows_per_page), "10Y");

                }
            },
            flush_table(){
                this.rows = [];
            },
            set_table_headers() {

                if (typeof(Storage) !== "undefined") {
                    localStorage.setItem(this.component_name + "-table_headers", JSON.stringify(this.table_headers));
                } else {
                    this.$cookies.set(this.component_name + "-table_headers", JSON.stringify(this.table_headers), "10Y");

                }
                this.showTableSettings = false;
            },
            update_resource_url() {
                var seperator = '?';
                if (this.resource_url_base.indexOf('?') !== -1) {
                    seperator = '&';
                }
                this.resource_url = this.resource_url_base + seperator + 'count=' + this.rows_per_page;

            },
            reload() {
                this.$refs.paginator.fetchData();
            },
            show_search(header) {
                if(this.showTableFilter)
                {
                    return false;
                }
                if (header.showSearch) {
                    header.showSearch = false;
                    delete this.search_texts[header.key];
                    this.reload();
                } else {
                    header.showSearch = true;
                }
            }

        },
        beforeMount() {
            if (!this.options.allowSort) {
                this.options.allowSort = [];
            }
            if (!this.options.disableHref) {
                this.options.disableHref = false;
            }
            if (!this.options.searchSelect) {
                this.options.searchSelect = [];
            }
            if (!this.options.enableBulkProcess) {
                this.options.enableBulkProcess = false;
            }
            if (!this.options.enableSearchPanel) {
                this.options.enableSearchPanel = false;
            }
            if (!this.options.enableGetInfo) {
                this.options.enableGetInfo = false;
            }
            if (!this.options.enableDelete) {
                this.options.enableDelete= false;
            }
            if (!this.options.enableDashboard) {
                this.options.enableDashboard= false;
            }
            if (!this.options.enableAudio) {
                this.options.enableAudio= false;
            }
            if (!this.options.enableRowClickEmit) {
                this.options.enableRowClickEmit= false;
            }
            if (!this.options.keepCurrentDataWhenLoading) {
                this.options.keepCurrentDataWhenLoading= false;
            }

        },
        mounted() {

            let app = this;
            if (app.searchBulkKey) {
                app.search_texts.bulk = app.searchBulkKey;
            }
            app.rows_per_page = app.get_rows_per_page();
            app.table_headers = app.get_table_headers();
            app.resource_url = app.resource_url_base;



            if(app.component_name==='Incident' || app.component_name==='AdminUser') {
                app.resource_per_item.push({title: '1000', value: 1000});
            }


            app.isLoaded = true;

        },
        updated() {
            $('.selectpicker').selectpicker('render');
            let windowHeight = $(window ).height();
            let tableHeight = $('.HuxTable').height();
            if((tableHeight+120)>windowHeight) {
                //doublescroll
               // $(this.$el).find('.table-responsive').doubleScroll();
            } else {
               // $(this.$el).find('.doubleScroll-scroll-wrapper').remove();
            }
            $('[data-toggle="tooltip"]').tooltip();
        },
        watch: {
            resource_url_base: function (value) {
                this.resource_url = value;
            },
            refresh: function () {
                this.reload();
            },
            searchBulkKey: function (value) {
                this.search_texts.bulk = value;
                this.fetch_data = !this.fetch_data;
            },
            table_header_keys:function (value) {
                this.table_headers = this.get_table_headers();
            }
        },

        destroyed() {
            $(this.$el).find('.doubleScroll-scroll-wrapper').remove();
        }
    }
</script>
<style >

    .panel-heading .dragArea .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
        width: 100%!important;
    }

</style>
<style scoped>
    >>> .tooltip-inner {
        max-width: 500px !important;
        overflow-wrap: break-word;
        word-wrap: break-word;

        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;

        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    .search_text{
        min-width: 100px;
    }
    .pull-right-paginator
    {
        float: right;
    }
    .panel-footer > .table-responsive{
        overflow-x: hidden;
    }
    @media (max-width: 500px) {
        .panel-footer > .table-responsive{
            overflow-x: auto;
        }
        .incident-paginator >.col-xs-8 > .pull-right {
            float: left !important;
        }
        .incident-paginator >.row >.col-xs-8,.col-xs-4{
            padding: 0!important;
        }
        .incident-paginator >.row>.col-xs-4{
            width: 26.333333%!important;
        }
        .incident-paginator >.col-xs-4{
            width: 20.333333%;
        }
        .incident-paginator{
            min-width: 540px!important;
            margin-left: 20px;
        }

        .pull-right-paginator
        {
            float: left!important;
        }
    }



</style>